html
body {

background-color:yellow;
}

 button {
          height: 30px;
          width: 30px;
          outline: border;
        }
        
      
        
        
        
        
        
       
